@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Quicksand:wght@300..700&display=swap');
.container{
    width: 100%;
    height: 800px;
    background-image: url(https://mobirise.com/extensions/floram4/floral-studio/assets/images/sl1-967x725.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    
    z-index: 1;
    .main{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #1B745E;
        h1{
            font-family: "Quicksand", sans-serif;
            font-size: 46px;
            font-weight: 400;
        }
        p{
            font-family: "Crimson Text", serif;
            font-size: 18px;
        }    
    }
    @media screen and (max-width:768px){
        .main{
            width: 90%;
            text-align: center;
        }
    }
}